<div id="content" class="clearfix">
<div class="section">
<div class="article" id="admin-tool">
<h1>Editing Session</h1>
<div>
<%= render 'form' %>

<%= link_to 'Show', @presentation %> |
<%= link_to 'Back', sessions_path %>
</div></div></div></div>