<h1>Congratz, your executive summary is successfully submitted to CMU Summit</h1>
<p>
  We have received your executive summary submission.
</p><p>
  Thanks for submitting. If there's any update you want to include, please use the submission form on the CMU Summit website.<br />
  Keep up your good work while we are reviewing your materials.
</p>
<p>
-- <br />
<em>CMU Summit Team</em>
</p>

