<h1>You requested a password reset for your CMU Summit account.</h1>
<p>
  The request was issued on <%= @datetime %> for <em><%= @user.email %></em>.
</p><p>
  A new login password was generated for you:
  <br />
  <em><%= @user.password %></em>
  <br />
  Please login with the new password and change it as you wish.
</p><p>
  If this password reset was not initiated by you, reply this email to let us know.
</p><p>
  Hope you had fun visiting the CMU Summit website.
</p>
