<div class="article" id="announcement">
	<h3>Announcement</h3>
	<div class="content">
		<div>
			<h4>CMU Summit Website Beta Version Released</h4>
			<p>
				The beta version is open to public today.
			</p>
			<p class="date">
				February 7, 2012
			</p>
		</div>
		<div>
			<h4>CMU Summit Website Alpha Version Launched</h4>
			<p>
				Thanks to <a href="theunitinterval.com">Unit Interval Studio</a>. The alpha version is launched today.
			</p>
			<p class="date">
				January 29, 2012
			</p>
		</div>
	</div>
	<div class="arrow-nav">
		<a href="#" class="up up-inactive"></a><a href="#" class="down"></a>
	</div>
</div>
