<dl>
	<dt>Do You Know?</dt>
	<dd>
		<span>In the past 15 years, CMU faculty, students and alumni have created more than 300 companies and 9,000 jobs.</span>
		<span>With 100 percent of CMU’s electricity coming from green power sources, the university is ranked as a green power leader by the U.S. Environmental Protection Agency.</span>
		<span>CMU has been ranked No. 1 among all U.S. universities without a medical school in the number of startup companies created per research dollar spent since 2007.</span>
		<span>Dr. Mao Yisheng, an expert on bridge construction and a social activist in China, is the first PhD student even granted by Carnegie Mellon University.</span>
		<span>By 2008, Carnegie Mellon’s campus in Pittsburgh had grown its use of renewable power sources to 29 percent of its electricity being generated from a mixture of wind, biomass, biogas, and hydroelectric sources.</span>
		<span>The Smiley :-) was created by Carnegie Mellon research professor Scott Fahlman on September 19, 1982.</span>
		<span>Carnegie Mellon is home to the only building in the world where Google, Intel, Apple and a Microsoft-sponsored research lab live under one roof.</span>
		<span>In 1979, Carnegie Mellon established the nation’s first Robotics Institute.</span>
		<span>Carnegie Mellon was the first university with a completely wired campus when it developed the Andrew computing network in the mid-1980s.</span>
	</dd>
</dl>
