				<div id="content" class="clearfix">
					<section>
						<article id="agenda">
							<h1 class="tab-nav"><a href="#" data-tab="overview" class="active">Overview</a><a href="#" data-tab="keynote">Keynote</a><a href="#" data-tab="panel">Panel</a><a href="#" data-tab="misc">Misc</a></h1>
							<div class="content active clearfix" id="overview">
								<p>Hover over the dots to see the details.</p>
								<h2>Saturday, April 28th 2012</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>Registration</label>
									<div class="agenda-item" style="left: 240px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Registration</h4><p>8:00 am - 9:00 am</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Opening Speech</label>
									<div class="agenda-item" style="left: 280px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Opening Speech</h4><p>9:00 am - 9:20 am</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Keynotes</label>
									<div class="agenda-item" style="left: 300px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Keynote 1</h4><p>9:30 am - 10:30 am</p><p>UC McConomy</p></div>
									</div>
									<div class="agenda-item" style="left: 400px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Keynote 2</h4><p>12:00 pm - 1:30 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Panels</label>
									<div class="agenda-item" style="left: 340px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Panel 1, 2</h4><p>10:30 am - 12:00am</p><p>Porter Hall 100</p></div>
									</div>
									<div class="agenda-item" style="left: 500px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Panel 3, 4</h4><p>2:30 pm - 4:00 pm</p><p>TBA</p></div>
									</div>
									<div class="agenda-item" style="left: 560px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Panel 5, 6</h4><p>4:00 pm - 5:30 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Networking Reception</label>
									<div class="agenda-item" style="left: 660px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Networking Reception</h4><p>6:30 pm - 9:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<p></br>Networking reception is for those who registered this session only.</p>
								<h2>Sunday, April 29th 2012</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>Pitch Competition Final</label>
									<div class="agenda-item" style="left: 280px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Pitch Competition Final</h4><p>9:00 am - 12:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Lunch And Networking</label>
									<div class="agenda-item" style="left: 400px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Lunch And Networking</h4><p>12:00 pm - 1:00 pm</p><p>UC McConomy</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Tech Showcase</label>
									<div class="agenda-item" style="left: 440px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Tech Showcase</h4><p>1:00 pm - 2:30 pm</p><p>Wygan Gym</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Career fair</label>
									<div class="agenda-item" style="left: 500px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Career fair</h4><p>2:30 pm - 6:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<p>
									</br>
									Agenda is subject to change. Please check back for updates.
								</p>
							</div>
							<div class="content clearfix" id="keynote">
								Interested in giving a keynote speech? Please contact Rui Ma, Chair of CMU Summit, Phone: (+1) 402-517-1820, Email: eric.marui@gmail.com
<!-- 								<%= render :partial => "presentations", :locals => { :panels => @keynotes } %>	-->
							</div>
							<div class="content clearfix" id="panel">
								<%= render :partial => "presentations", :locals => { :panels => @panels } %>
							</div>
							<div class="content clearfix" id="misc">
								Information about Showcase and Career Fair will be available soon.
<!-- 								<%= render :partial => "presentations", :locals => { :panels => @misc_sessions } %>	－－>
							</div>
						</article>
					</section>
				</div>

