				<div id="content" class="clearfix">
					<section>
						<article id="agenda">
							<h1>Agenda</h1>
							<div class="content">
								<h2>Monday, May 9th 2011</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>On-site check-in</label>
									<div class="agenda-item" style="left: 440px; padding-left: 7px; width: 233px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>I/O BootCamp</label>
									<div class="agenda-item" style="left: 280px; padding-left: 7px; width: 353px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div><h2>Tuesday, May 10th 2011</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>On-site check-in</label>
									<div class="agenda-item" style="left: 200px; padding-left: 7px; width: 593px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Breakfast</label>
									<div class="agenda-item" style="left: 200px; padding-left: 7px; width: 113px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Keynote</label>
									<div class="agenda-item" style="left: 280px; padding-left: 7px; width: 33px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Developer Sandbox</label>
									<div class="agenda-item" style="left: 320px; padding-left: 7px; width: 333px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Breakout sessions</label>
									<div class="agenda-item" style="left: 330px; padding-left: 7px; width: 323px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Lunch break (no sessions)</label>
									<div class="agenda-item" style="left: 390px; padding-left: 4px; width: 26px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Lunch served *</label>
									<div class="agenda-item" style="left: 390px; padding-left: 7px; width: 63px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Office Hours</label>
									<div class="agenda-item" style="left: 400px; padding-left: 7px; width: 253px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>After Hours evening party</label>
									<div class="agenda-item" style="left: 660px; padding-left: 7px; width: 153px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div><h2>Wednesday, May 11th 2011</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>On-site check-in</label>
									<div class="agenda-item" style="left: 200px; padding-left: 7px; width: 353px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Breakfast</label>
									<div class="agenda-item" style="left: 200px; padding-left: 7px; width: 113px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Keynote</label>
									<div class="agenda-item" style="left: 300px; padding-left: 7px; width: 33px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Developer Sandbox</label>
									<div class="agenda-item" style="left: 340px; padding-left: 7px; width: 273px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Breakout sessions</label>
									<div class="agenda-item" style="left: 350px; padding-left: 7px; width: 253px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Lunch break (no sessions)</label>
									<div class="agenda-item" style="left: 390px; padding-left: 4px; width: 26px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Lunch served *</label>
									<div class="agenda-item" style="left: 390px; padding-left: 7px; width: 63px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Office Hours</label>
									<div class="agenda-item" style="left: 400px; padding-left: 7px; width: 213px; ">
										<span>•</span>
										<div class="info-balloon"><h4>On-site check-in</h4><p>1:00 pm - 7:00 pm</p><p>Moscone West</p></div>
									</div>
								</div>
								<p>
									Agenda is subject to change. Please check back for updates.
								</p>
							</div>
						</article>
					</section>
				</div>

