				<div id="content" class="clearfix">
					<section>
						<article id="agenda">
							<h1 class="tab-nav"><a href="#" data-tab="overview" class="active">Overview</a><a href="#" data-tab="keynote">Keynote</a><a href="#" data-tab="panel">Panel</a><a href="#" data-tab="misc">Misc</a></h1>
							<div class="content active clearfix" id="overview">
								<p>Hover over the dots to see the details.</p>
								<h2>Saturday, April 28th 2012</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>Registration</label>
									<div class="agenda-item" style="left: 240px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Registration</h4><p>8:00 am - 9:00 am</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Opening Speech</label>
									<div class="agenda-item" style="left: 280px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Opening Speech</h4><p>9:00 am - 9:20 am</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Keynotes</label>
									<div class="agenda-item" style="left: 300px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Keynote 1</h4><p>9:30 am - 10:30 am</p><p>UC McConomy</p></div>
									</div>
									<div class="agenda-item" style="left: 400px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Keynote 2</h4><p>12:00 pm - 1:30 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Panels</label>
									<div class="agenda-item" style="left: 340px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Panel 1, 2</h4><p>10:30 am - 12:00am</p><p>Porter Hall 100</p></div>
									</div>
									<div class="agenda-item" style="left: 500px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Panel 3, 4</h4><p>2:30 pm - 4:00 pm</p><p>TBA</p></div>
									</div>
									<div class="agenda-item" style="left: 560px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Panel 5, 6</h4><p>4:00 pm - 5:30 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Networking Reception</label>
									<div class="agenda-item" style="left: 660px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Networking Reception</h4><p>6:30 pm - 9:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<p></br>Networking reception is for those who registered this session only.</p>
								<h2>Sunday, April 29th 2012</h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label>Pitch Competition Final</label>
									<div class="agenda-item" style="left: 280px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Pitch Competition Final</h4><p>9:00 am - 12:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Lunch And Networking</label>
									<div class="agenda-item" style="left: 400px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Lunch And Networking</h4><p>12:00 pm - 1:00 pm</p><p>UC McConomy</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label>Tech Showcase</label>
									<div class="agenda-item" style="left: 440px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Tech Showcase</h4><p>1:00 pm - 2:30 pm</p><p>Wygan Gym</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label>Career fair</label>
									<div class="agenda-item" style="left: 500px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4>Career fair</h4><p>2:30 pm - 6:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<p>
									</br>
									Agenda is subject to change. Please check back for updates.
								</p>
							</div>
							<div class="content clearfix" id="keynote">
								<div class="session-detail">
									<div class="session-info">
										<h2>Title</h2>
										<div class="speaker-list">
										</div>
										<div class="description-container">
											<p class="description">
												Description
											</p>
											<div class="session-stats">
												Time: <span>May 10, 09:00AM – 10:00AM</span>
												<br>
												Room:
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content clearfix" id="panel">
								<div class="session-detail">
									<div class="session-info">
										<h2>Energy and Environment Panel: Towards a Sustainable Future</h2>
										<div class="speaker-list">
											Khee Poh Lam
										</div>
										<div class="description-container">
											<div class="description">
												Energy and environment problem, especially the global climate change has become a major concern for our planet. As the two largest economies in the world, the United States and China have the responsibility and opportunity to work hand-in-hand solving the problem and building a sustainable future for our children. Carnegie Mellon has world leading researchers in this sphere. Together with policy makers, entrepreneurs, environmentalists and anyone who are interested in solving this problem, we are ready to proceed. Topics include energy generation and efficiency solutions, energy and environment policies and green buildings and cities.</br>
											</div>
											<div class="session-stats">
												Time: <span>TBD</span>
												</br>
												Place: <span>TBD</span>
											</div>
											<div class="session-interested">
												<div class="button-gray">12 people like this</div>
												<% if session[:user_id] %>
												<a href="/login" class="button-gray">Be one of them and add to my calendar</a>
												<% else %>
									            <a href="/login" class="button-gray">Sign up and be one of them</a>
												<% end %>
											</div>
										</div>
									</div>
									<div class="speaker-info">
										<div class="speaker has-image">
											<div class="image c1"></div>
											<div class="bio">
												<h3>Khee Poh Lam</h3>
												<div class="people-interested">
													<div class="button-gray">12 people are following</div>
													<% if session[:user_id] %>
													<a href="/login" class="button-gray">Be one of them and add to my contact</a>
													<% else %>
										            <a href="/login" class="button-gray">Sign up and be one of them</a>
													<% end %>
												</div>
												<p>
													PhD, Royal Institute of British Architects<br>
													Board of Directors of Energy Foundation, USA; US-China Green Energy Council<br>
													Professor in School of Architecture, Carnegie Mellon University<br>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="session-detail">
									<div class="session-info">
										<h2>Title</h2>
										<div class="speaker-list">
											Panelist List
										</div>
										<div class="description-container">
											<p class="description">
												Subtitle.</br>
												Description.</br>
												Topics.
											</p>
											<div class="session-stats">
												Time: <span>May 10, 09:00AM – 10:00AM</span>
												<br>
												Place:
											</div>
										</div>
									</div>
									<div class="speaker-info">
										<div class="speaker has-image">
											<div class="image c1"></div>
											<div class="bio">
												<h3> Panelist TBD </h3>
												<p>
													Bio and title TBD
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="content clearfix" id="misc">
								<div class="session-detail">
									<div class="session-info">
										<h2>Registration</h2>
										<div class="description-container">
											<p class="description">
												Description
											</p>
											<div class="session-stats">
												Time: <span>May 10, 09:00AM – 10:00AM</span>
												<br>
												Place:
											</div>
										</div>
									</div>
								</div>
							</div>
						</article>
					</section>
				</div>

