				<div id="content" class="clearfix">
					<section>
						<article id="contest">
							<h1><a href="#overview" class="active">Overview</a><a href="#submit">Submission</a><a href="#result">Result</a></h1>
							<div id="overview" class="active content clearfix">
								<p>
									Thanks to the extraordinary development over the past 30 years, today's China has arrived at a key turning point of its growth, with tremendous opportunities for entrepreneurs. At the same time, this rapid growth has also revealed a number of issues in modern China's development. Budding entrepreneurs around the world seek to seize this opportunity to utilize innovation with a global vision and solid technology to address many of these issues. Being at these historical crossroads, MIT-CHIEF (MIT-China Innovation and Entrepreneurship Forum) presents to you the MIT-CHIEF "Pitch to China" Business Plan Contest, striving to foster connections of new technologies and business models with investment funding and execution experience from China and outside. We are dedicated to facilitating overseas entrepreneurs with resources within China and helping them both enter the Chinese market as well as bring about positive change for both China and the world as a whole.
								</p>
								<p>
									6 teams will enter the final competition for a total of $18,000 in cash prizes, no strings attached!
								</p>
								<ul>
									<li>
										First prize (1 team): $10,000
									</li>
									<li>
										Second prize (2 teams): $2,500 each
									</li>
									<li>
										Third prize (3 teams): $1,000 each
									</li>
								</ul>
								<p>
									Contestants will also be able to:
								</p>
								<ul>
									<li>
										Have an opportunity to present business ideas, and receive feedback from experienced entrepreneurs and investors from both China and abroad
									</li>
									<li>
										Exchange ideas with invited guests of MIT-CHIEF, including researchers, well-known entrepreneurs, and policy-makers.
									</li>
									<li>
										Have an opportunity to receive critiques and advice from investors, successful entrepreneurs, professors, and lawyers.
									</li>
									<li>
										Promote business plans to the mass media and potential customers.
									</li>
									<li>
										Attend lectures at MIT-CHIEF given by well-known MIT scholars, seasoned entrepreneurs, and lawyers.
									</li>
									<li>
										Present their business ideas at a poster exhibition at the MIT-CHIEF conference.
									</li>
									<li>
										Gain access to entrepreneurial resources from our partners to accelerate their businesses.
									</li>
									<li>
										Meet face to face with representatives from industrial parks and high-tech zones in China.
									</li>
								</ul>
								<p>
									Let's pitch to China and bridge innovative ideas and talents between China and US!
								</p>
								<p>
									Please contact contest at mitchief.org for more information.
								</p>
								<h2>Eligibility</h2>
								<p>
									Any individual or team aiming to develop the China market by using innovative technologies and business models and seeking funding from Chinese investors.
								</p>
								<h2>How to Enroll</h2>
								<ol>
									<li>
										Register yourself or your team <a href="contest-submit">here</a>.
									</li>
									<li>
										Before Sept. 12th 23:00 EST, fill out required information on the submission page and upload your executive summary (either less than 2 pages word document or less than 12 pages deck) in PDF format, which includes but not limited to the answers of the following questions:
										<ul>
											<li>What is the problem you try to solve?</li>
											<li>What is your solution?</li>
											<li>who is the customer?</li>
											<li>what is the market opportunity?</li>
											<li>Who is your potential competitor?</li>
											<li>what is your competitive advantage?</li>
											<li>how to generate revenue?</li>
											<li>who is your team members?</li>
										</ul>
										You can find a template at our Resource page.
									</li>
									<li>
										Upon semi-finalist announcement, the contest committee will contact you through mail or phone for further instructions.
									</li>
								</ol>
								<p>
									On stage presentation is required for the finale . In case finalist cannot attend the finale, please contact the contest committee immediately.
								</p>
								<h2>Agenda</h2>
								<table>
									<tr>
										<td>Sep. 12, 2011 23:00 EST</td><td>Project executive summary submission deadline</td>
									</tr>
									<tr>
										<td>Oct. 1, 2011 21:00 EST</td><td>Announcement of semi-finalists</td>
									</tr>
									<tr>
										<td>Oct. 7, 2011</td><td>Course: Entrepreneurship Fundamentals, Lecture: Entrepreneurship in the Technology Sector and Law</td>
									</tr>
									<tr>
										<td>Oct. 23, 2011 23:00 EST</td><td>Business plan submission deadline</td>
									</tr>
									<tr>
										<td>Nov. 5, 2011 9:00 EST</td><td>Announcement of finalists</td>
									</tr>
									<tr>
										<td>Nov. 19, 2011</td><td>Private meeting and dinner with investors</td>
									</tr>
									<tr>
										<td>Nov. 20, 2011</td><td>Finale</td>
									</tr>
								</table>
								<h2>FAQ</h2>
								<dl>
									<dt>
										What is MIT-CHIEF Business Plan Contest?
									</dt>
									<dd>
										The MIT-CHIEF Business Plan Contest is a major component of MIT-CHIEF. It serves as platforms to connect young entrepreneurs in the US and potential investors from China. The Business Plan Contest aims at helping participants to develop and sharpen their business ideas by meeting with our China market experts and getting in touch with potential investors from China.
									</dd>
									<dt>
										What are we looking for?
									</dt>
									<dd>
										We are looking for new business models and technologies which have potential to be applied to China’s market. Technology holders are encouraged to apply for the Business Plan Contest.
									</dd>
									<dt>
										Who are eligible?
									</dt>
									<dd>
										MIT-CHIEF Business Plan Contest is open to all part-time and full-time students and young startups. If you have brilliant ideas, whether you have ongoing project or already launched company, whether your industry is Information Technology, Clean Energy, Medical, Biology, new business model, social entrepreneurship, or others, you are more than welcome to join us!
									</dd>
									<dt>
										What are the benefits of joining the contest?
									</dt>
									<dd>
										Besides cash rewards, winners of the contest will have good chances to receive angel funding after discussing their business plans with China Venture Capitalists and Angel Investors. Although we cannot foresee how many successful investments will be made through this contest, we will ensure it to be a fulfilling and instructive process for the participants. Finalists of the Entrepreneurship Contests will receive mentors from experienced business practitioners and MIT faculties. Finalists will be invited to a network session with our guest speakers and judges.
									</dd>
									<dt>
										Is it required to submit the executive summary in both Chinese and English?
									</dt>
									<dd>
										Contestants should use the language that they are most comfortable with, which explains their ideas clearly and accurately. It’s not necessary to submit the executive summary in both languages.
									</dd>
									<dt>
										What are the judging criteria?
									</dt>
									<dd>
										Judges will evaluate projects upon a number of criteria, including but not limited to feasibility, innovativeness, technology, China market focus and the teamwork.
									</dd>
									<dt>
										Are there any training opportunities?
									</dt>
									<dd>
										We provide some resources that may be useful for all contestants. For semi-finalists onwards, we will provide a course of entrepreneurship fundamentals, and a lecture of Entrepreneurship in the Technology Sector and Law.
									</dd>
									<dt>
										If I have different projects, how can I register?
									</dt>
									<dd>
										In principle we recommend you submit one project under one registered account. If you do need to submit multiple projects, please contact the Contest Organizing Committee.
									</dd>
									<dt>
										Is it possible to upload a new executive summary and business plan after the first submission?
									</dt>
									<dd>
										You can re-submit the updated version after login.
									</dd>
									<dt>
										Can I register for the contest if I am international?
									</dt>
									<dd>
										The first and second round of judging occurs online and can be completed remotely from anywhere in the world. The finale will require the contestants to be physically present on stage.
									</dd>
									<dt>
										What I should do if I could not attend contest onsite?
									</dt>
									<dd>
										Please contact the Contest Organizing Committee as your earliest convenience.
									</dd>
									<dt>
										How do I get more information on MIT-CHIEF Business Plan Contest?
									</dt>
									<dd>
										Follow us on Facebook, LinkedIn, Twitter, and Weibo. If you have a specific request and/or question that isn’t addressed on our website or social networking sites, please send an email inquiry to: contest [at] mitchief.org.
									</dd>
								</dl>
							</div>
							<div id="submission" class="content clearfix">
								<form>
									<dl>
										<dt>描述你的商业创意，说明你的创意或产品能满足用户的何种核心需求？在没有你的产品时用户是如何解决该需求的？简要并准确地介绍你的产品，描述产品的市场机会与规模。描述你们正在解决的问题和你们自己的解决方法。	</dt>
										<dd><textarea></textarea></dd>
										<dt>你的创意或者产品的规划是怎样？描述你会选择怎样的切入点，会有怎样的扩展方向，产品最后会是什么样子。</dt>
										<dd><textarea></textarea></dd>
										<dt>你产品的目标人群是什么，为什么选择这些人？打算采用什么推广方式获得早期用户？</dt>
										<dd><textarea></textarea></dd>
										<dt>描述用户使用产品的流程和体验？</dt>
										<dd><textarea></textarea></dd>
									</dl>
									<input class="button-gray" type="submit" value="Save" />
								</form>
							</div>
							<div id="result" class="content clearfix">
								<p>20 projects have been selected as semifinalists. The name of the contact persons are as follows:</p>
								LEI Yu
								Angel DeCegama
								WANG Pu
								LI Fei-Fei
								QUAN Qimin
								尹桑
								LIU Xiaojun
								高宏
								方遥
								刘天强
								SHEN Dawei
								WU Ziyan
								周涵
								STEVE Xu
								唐立奇
								XIN Yu
								吕超
								Fady Saad
								CHEN Xinyue
								Giorgio Brusa
							</div>
						</article>
					</section>
				</div>

