				<div id="content" class="clearfix">
					<div class="section">
						<div class="article" id="contest">
							<h1 class="tab-nav"><a href="#overview" class="active">Overview</a><a href="#rules">Rules</a><a href="#submission">Submission</h1>
							<div id="overview" class="active content clearfix">
								<h2>Mission Statement</h2>
								<p>CMU Summit New Venture Competition strives to spur entrepreneurship in the Midwest. It also strives to bridge the gap between the resources that entrepreneurs need and the ability of the entrepreneurial ecosystem in place to provide them. The competition is a platform for identifying, nurturing and showcasing emerging entrepreneurs in and out the city of Pittsburgh. On April 28-29, 2012, students and leading experts will gather at Carnegie Mellon University and explore opportunities to address critical social issues or to contribute in technology breakthroughs.</p>
								<h2>Create, Communicate, Compete</h2>
								<p>The New Venture Competition gives each team an opportunity to present to some of the most successful authorities from both the U.S. and China. Through participation, each team gains access to:</p>
								<ul>
									<li>Educational opportunities regarding innovation, collaboration and commercialization</li>
									<li>Networking opportunities with established individuals from academia, industries, enterprises, and government institutions</li>
									<li>The opportunity to learn from the innovative ideas and visions of peers</li>
								</ul>
								<h2>Timeline</h2>
								<ul class="first-ul">
									<li><strong>Apr 02</strong> Executive Summary submission due;</li>
									<li><strong>Apr 09</strong> Announce the finalists;</li>
									<li><strong>Apr 21</strong> Extended Executive Summary submission due;</li>
									<li><strong>Apr 29</strong> Final presentations;</li>
								</ul>
								<h2>Executive Summary Template Download</h2>
								<a href="/files/Executive_Summary_Template.pdf">Download</a>
							</div>
							<div id="rules" class="content clearfix">
								<h2>Participants Eligibility</h2>
								<p>Any student team with an idea that contains significant societal or technological values is welcomed to participate. Ideas with a strong international application (especially to China) are encouraged. Specifics:</p>
								<ul>
									<li>At least one member of each team must be a registered student (i.e. undergraduates, graduates or post-docs)</li>
									<li>Each participant can only represent one competing team</li>
									<li>Every team must submit their supporting documents on time in the required format</li>
								</ul>
								</p>
								<h2>Work Originality</h2>
								<ul class="first-ul">
									<li>All submissions must be each team’s original works</li>
									<li>Each team is responsible for its own ideas and prototype</li>
									<li>Submissions cannot violate any contracts or third party rights</li>
								</ul>
								<h2>Presentation Guidelines</h2>
								<ul class="first-ul">
									<li>At least one member of each of the finalist team must be able to attend the final day on-stage presentation; absent teams will be automatically disqualified</li>
									<li>Finalists are required to deliver a five minutes presentation followed by a ten minutes Q&amp;A session</li>
									<li>Only pitching team member(s) can answer questions (Only the people who present the work may answer the questions from the judges or the audience)</li>
									<li>Using notes during a presentation is permitted, but reading entirely out of notes will adversely affect evaluation of a team</li>
									<li>Equipment provided includes a built in multi-media projector and a computer with internet access and USB ports</li>
								</ul>
								<h2>Prize Distribution</h2>
								<p>TBD</p>
								<h2>Publicity</h2>
								<p>All teams may be asked to give a 150-200 word description of their business plans or prototypes. By submitting the descriptions, each team authorizes the CMU Summit to use this description and names of team members to market, raise funds or for any other public relations purpose<br/>
								All teams may be asked to speak to the media upon request by the CMU Summit</p>
								<h2>Confidentiality</h2>
								<p>While our Summit personnel will make sure no sensitive information will be leaked to the public, it is strongly recommended that each team to protect its own intellectual property<br/>
								The Summit will request that judges do not share submitted business plans with unauthorized personnel. However, the Summit is NOT responsible for any of the judges’ controversial actions<br/>
								The Summit will NOT be responsible for any type of intellectual property disputes.</p>
								<h2>Judging Criteria</h2>
								<p>The judges will evaluate each business plan based on the following factors:<p>
								<ul>
									<li>The problem each team is trying to solve;</li>
									<li>The feasibility and sophistication of each team’s solution;</li>
									<li>The marketability of the business plan;</li>
									<li>Any competitive advantage each team has identified;</li>
									<li>The economic value of the business plan;</li>
									<li>Whether the technology every team proposes has been on the market or not;</li>
								</ul>
								<h2>Legal Disclaimers<h2>
								<p>CMU summit reserves the right to disqualify any team in violation of any regulations, laws or rules.<br/>
								By participating in the competition, each team agrees that neither CMU nor Summit personnel assume any liability whatsoever for any disclosures of business plan information which may be made (whether inadvertently or otherwise) by any judge, reviewer, staff member, audience member or other individual connected with, participating in, viewing, hearing, or receiving information from the competition.</p>
							</div>
							<div id="submission" class="content clearfix">
								<h2>Executive Summary Submission</h2>
								<p>Thank you for your interest in CMU-Summit New Venture Competition.<br>Please fill in the following form to submit your executive summary.</p>
								<form>
									<label>First Name: </label><input type="text" /><br>
									<label>Last Name: </label><input type="text" /><br>
									<label>Email: </label><input type="text" /><br>
									<label>Cell Phone: </label><input type="text" /><br>
									<label>University / Institute: </label><input type="text" /><br>
									<label>Team Size: </label><input type="text" /><br>
									<label>Venture Title: </label><input type="text" /><br>
									<label>Define your venture in a single declarative sentence: </label><textarea></textarea><br>
									<label>Website(optional): </label><input type="text" /><br>
									<label>Upload: </label><input type="file" /> (only PDF file is acceptable)<br>
									<label></label><input class="button-gray" type="submit" value="Submit">
								</form>
							</div>
						</div>
					</div>
				</div>

