				<div id="content" class="clearfix">
					<section>
						<article id="contest">
							<h1><a href="#overview" class="active">Overview</a><a href="#rules">Rules</a><a href="#judge">Timeline</a></h1>
							<div id="overview" class="active content clearfix">
								<h2>Why Startup Competition</h2>
								<p>The world is calling for entrepreneurs, but doing a start-up of financially successfully and socially beneficial is hard. Currently there is a gap between the resources these entrepreneurs need and the ability of the entrepreneurial ecosystem to provide them. We bridge the gap.</p>

								<h2>For Whom</h2>
								<p>We focus on entrepreneurs in the idea stage and in the early venture stage, who have built a defined social and/or environmental goal into how they do business.</p>

								<h2>What Else</h2>
								<p>We help early-stage entrepreneurs win. We connect entrepreneurs with the resources they need to launch and succeed immediately.
								We strive to promote innovation, collaboration and commercialization, address the seed-stage investment gap, empowering novice entrepreneurs, provide educational opportunities and networking events for entrepreneurs.
							</div>

							<div id="rules" class="content clearfix">
								<h2>Participants Eligibility</h2>
								<p>Every team must have one registered student (undergraduates, graduates and post-docs are included).</br>
								One competitor cannot attend multiple teams.</br>
								Every team must submit their business plan before the deadline.</p>
								<h2>Work Originality</h2>
								<p>All submissions must be original and each team holds all rights to your idea.</br>
								Any submission cannot violate any contracts or third party rights.</br>
								Any submission which won any prize of more than $50,000 is not eligible for this summit.</br>
								Any submission which received or is receiving more than $50,000 is not eligible.</p>
								<h2>Presentation Rules</h2>
								<p>Every team has 5 minutes for presentation.</br>
								No notes may be used during presentation.</br>
								Only pitching team member(s) can answer the question. (Only the people who present the work can answer the question from the judges or the audience)</p>
								<h2>Prize Distribution</h2>
								<p>TBA</p>
								<h2>Confidentiality</h2>
								<p>Please don’t include any confidential information in your submission.</br>
								If you are going to file your patent, please note this summit is considered as public disclosure.</p>
								<h2>Publicity</h2>
								<p>All teams may be asked to give a 150-200 words description and by submission this description, each team authorizes CMU summit to use this description and names of team members to market, raise funds or for any other public relation purpose.</br>
								All teams may be asked to speak to the media as request by the CMU summit.</p>
								<h2>Disclaimers</h2>
								<p>CMU Summit reserves the right to disqualify any team that violates any regulations, laws or rules.</br>
								CMU summit will do our best to protect every team’s business plan and will only disclose the business plans to the judges. We will recommend the judges not to share the material but we do NOT guarantee to enforce it.</p>
								<h2>Judging Criteria</h2>
								<p>
									Generally speaking, each business plan will be evaluated on the basis of how likely the business idea will succeed in the real world. The judges will be asked to assess each plan based on the following factors:</br>
									The competitor have the strong grasp on the current market and the business plan is based on the sensible assumptions about the market.</br>
									The business plan is well written and clearly states the opportunity in terms of target customers as well as the willingness that the target customers will pay for the product or solution.</br>
									The competitors have the relevant skill set, technology and experience to implement their idea and have a clear picture of the road map.</br>
									The competitors have full awareness of any potential risk as well as ways to cope with.
								</p>
							</div>
							<div id="timeline" class="content clearfix">
								<p>
									Early February: Announce the contest;</br>
									Early March: Round 1 due;</br>
									Late March: Announce the finalists;</br>
									Mid April: Business Plan due;</br>
									Late April: Final contest;</br>
								</p>
							</div>
						</article>
					</section>
				</div>

