				<div id="content" class="clearfix">
					<section>
						<article id="faq">
							<h1>FAQ</h1>
							<div class="content clearfix">
								<div class="faq-section">
									<h3 id="registration">Registration questions</h3>
									<dl>
										<dt>
											How much does it cost to attend the event?
										</dt>
										<dd>
											Early bird registration fees are $450 USD through April 16th, 2011. Attendees who register after April 16th will be charged $550 USD. The Academia (students, professors, faculty/staff) registration fee is $150 USD. If you plan to also join us for BootCamp the day before Google I/O begins, an additional $100 registration fee will apply.
										</dd>
										<dt>
											What does my registration include?
										</dt>
										<dd>
											Registration to Google I/O includes two full days of sessions, product demos, breakfast, lunch, snacks, admission to Tuesday night's After Hours reception, as well as discounted room rates at several nearby hotels.
										</dd>
										<dt>
											Are there any discounts available?
										</dt>
										<dd>
											We're offering early bird registration rates at $450 USD through April 16th, 2011. Be sure to register by this date to take advantage of the discounted registration price. In general, we've tried to set the conference fee at a reasonable level where the event is accessible to individuals. We are not offering additional discounts.
										</dd>
										<dt>
											What forms of payment are accepted for registration?
										</dt>
										<dd>
											Registration payments may only be made with a credit card via Google Checkout through the online registration form. We will no longer be accepting payments without a Google Checkout account.
										</dd>
										<dt>
											How can I obtain a receipt for my registration?
										</dt>
										<dd>
											You may view your receipt as well as email a receipt to yourself by <a href="https://www.google-io.com/index.cfm?fuseaction=reg.ReturnLogin">accessing your registration</a>. As a Google Account user, you may login with your Google account to access your record. If you should have difficulty accessing your information, you will need to troubleshoot your account per the instructions <a href="http://www.google.com/url?q=http//www.google.com/support/accounts/bin/answer.py?answer=48598&amp;hl=en-US">here</a>.
										</dd>
										<dt>
											Can I send a colleague or friend in my place?
										</dt>
										<dd>
											All payments are non-refundable. However, we do allow for substitution requests between same attendee types – i.e. a student, teacher or faculty registration may only be transferred to another student, teacher or faculty person. If you are unable to attend this year’s event, you will need to submit your substitution request via email to <a href="mailto:googleio2011@google.com">googleio2011@google.com</a>. Please include your full name, confirmation number, replacement's name and replacement's email address.  Once we receive this information we will send an updated copy of the registration to you and your substitute.
										</dd>
										<dt>
											I have registered and can no longer attend the event. Is it possible to cancel my registration and obtain a refund?
										</dt>
										<dd>
											Registration fees are non-refundable. If you'd like to give your registration pass to a colleague or friend, please let us know and we'd be happy to make a name change on the registration for you. Please email us at <a href="mailto:googleio2011@google.com">googleio2011@google.com</a> with your full name, confirmation number and substitute's full name and email address.  *If you have registered as a member of academia, your registration is only transferable to another colleague or friend within the field of academia. A current student, teacher or faculty ID will be required at on-site registration check-in.
										</dd>
										<dt>
											Is there a one day pass?
										</dt>
										<dd>
											We will not be offering single day passes to Google I/O.
										</dd>
										<dt>
											Is there a student discount?
										</dt>
										<dd>
											We do offer a discounted rate of $150 for Academia (students, professors, faculty/staff). We will require a current school ID or other proof that you're qualified to receive this special rate when you check in at the conference.
										</dd>
										<dt>
											I've lost my password and/or confirmation number. How can I obtain this information?
										</dt>
										<dd>
											If you have misplaced your password or confirmation, please visit googleio2011@google.com and we will send your confirmation to you, or you will have the ability to reset your password. If you registered using your Google Account email you will need to reset your password or troubleshoot your Google account per the instructions <a href="http://www.google.com/url?q=http://www.google.com/support/accounts/bin/answer.py?answer=48598&amp;hl=en-US">here</a>.
										</dd>
										<dt>
											I am not a US resident. Do I need a visa to travel to San Francisco, CA for the conference?
										</dt>
										<dd>
											It's best to check with your local government to confirm the required documents and arrangements needed for your travel to the US.
										</dd>
										<dt>
											I'm traveling from outside the US. Where can I get a visa letter regarding my I/O attendance?
										</dt>
										<dd>
											You can receive a visa letter by email or fax by sending a request to <a href="mailto:googleio2011@google.com">googleio2011@google.com</a>.
										</dd>
										<dt>
											Are hotel accommodations included in the registration fee?
										</dt>
										<dd>
											Hotel accommodations are not included in the registration fee. However, we have discounted rates contracted with several hotels near the Moscone West Convention Center. Please visit the <a href="travel.html">Travel page</a> for more details.
										</dd>
										<dt>
											How do I book my hotel reservation?
										</dt>
										<dd>
											Please contact the hotel of your choice directly and don't forget to reference "Google I/O 2011" to receive the best available rate. Please visit the <a href="travel.html">Travel page</a> for more details.
										</dd>
										<dt>
											What are the hours for on-site check-in?
										</dt>
										<dd>
											On-site check-in will open the day before the event on May 9th from 12:00 pm - 7:00 pm. Once the event begins on May 10th, check-in will be open from 7:00 am - 10:00 pm and on the 11th from 7:00 am - 4:00 pm. Please note that these times only apply to people who are registered to attend Google I/O.
										</dd>
										<dt>
											When will I receive my name badge?
										</dt>
										<dd>
											All badges and conference materials will be made available on-site at registration check-in.
										</dd>
										<dt>
											Can I get into the event without my name badge?
										</dt>
										<dd>
											Attendees will not be permitted to enter conference areas without a name badge. We will not be able to reprint lost badges so please make sure to keep your badge with you at all times.
										</dd>
										<dt>
											I am a member of the press. Do you offer free press passes?
										</dt>
										<dd>
											We will be offering a limited number of press passes to qualified members of the media. Please email <a href="mailto:googleiopress@google.com">googleiopress@google.com</a> for more information.
										</dd>
										<dt>
											I tried to register for BootCamp during the presale, but it said to check again once more seats were opened during public registration. How do I go back and add BootCamp onto my registration?
										</dt>
										<dd>
											<ul>
												<li>
													Access your <a href="https://www.google-io.com/index.cfm?fuseaction=reg.ReturnLogin">registration</a>
												</li>
												<li>
													Click "Edit" under the "Personal Information" section
												</li>
												<li>
													Select "Yes" for BootCamp
												</li>
												<li>
													Click "Continue" and you will need to login to your Google Account to process the additional $100 fee.
												</li>
											</ul>
											If the BootCamp field is disabled, this means that we are at capacity for the event, and have no more room for additional registrations. Please note that space at BootCamp is more limited than I/O in order to offer hands-on lab sessions.
										</dd>
										<dt>
											Why is the capacity for BootCamp more limited than Google I/O?
										</dt>
										<dd>
											Because BootCamp has coding lab sessions, we have to restrict the audience size to maintain an effective learning environment.
										</dd>
									</dl>
								</div>
								<div class="faq-section right">
									<h3 id="general">General event questions</h3>
									<dl>
										<dt>
											Who can attend Google I/O?
										</dt>
										<dd>
											We recommend that web, mobile, and enterprise developers building applications in the cloud with Google and open web technologies attend Google I/O. Products and technologies to be featured at I/O include App Engine, Android, Google Web Toolkit, Google Chrome, HTML5, AJAX and Data APIs, Google TV, and more.
										</dd>
										<dt>
											What are the event dates?
										</dt>
										<dd>
											May 10-11, 2011.
										</dd>
										<dt>
											Where is the event taking place?
										</dt>
										<dd>
											The two day Google I/O event will take place in San Francisco, CA at the <a href="http://www.moscone.com/site/do/index">Moscone West Convention Center</a>.
										</dd>
										<dt>
											Will the sessions or any part of Google I/O be streamed live via the Internet?
										</dt>
										<dd>
											We will be streaming the Google I/O keynotes on both days live via the Internet. We will also be recording most sessions and making them available online. Please check back after June 1st to view the recorded sessions or follow us on <a href="http://twitter.com/googleio">@googleio</a> where we will announce when recordings are available.
										</dd>
										<dt>
											How many people are anticipated to be in attendance?
										</dt>
										<dd>
											We anticipate around 5,500 people to attend this year's Google I/O.
										</dd>
										<dt>
											What time does the event start and end each day?
										</dt>
										<dd>
											The hours of the event are as follows:
											<ul>
												<li>
													May 10th from 9:00 am - 5:15 pm, with the After Hours evening event from 6:30 pm - 10:30 pm
												</li>
												<li>
													May 11th from 8:30 am - 5:45 pm
												</li>
											</ul>
											For a more specific agenda, please visit the <a href="agenda.html">Agenda page</a>. Please note that the schedule is subject to change.
										</dd>
										<dt>
											How is session scheduling being handled? Do I need to register to attend specific sessions?
										</dt>
										<dd>
											Sessions are open and no pre-scheduling is necessary. They are on a first-come, first-serve basis at the event. We will be publishing new sessions on the Sessions page (coming soon) regularly, so please check back for the latest updates to help plan your schedule.
										</dd>
										<dt>
											Are attendees able to bring guests?
										</dt>
										<dd>
											Attendees are not permitted to bring guests to Google I/O. If you have someone traveling with you, they will need to register themselves and purchase an attendee pass.
										</dd>
										<dt>
											Is there a minimum age to attend Google I/O? Can I bring children to the event?
										</dt>
										<dd>
											Attendees must be at least 16 years of age to attend I/O. Attendees who are under 18 must provide a signed parental consent form in advance or at on-site registration. To request a parental consent form, please email <a href="mailto:googleio2011@google.com">googleio2011@google.com</a>.
										</dd>
										<dt>
											What is the nearest airport recommended for attendees to fly into?
										</dt>
										<dd>
											SFO, the San Francisco International Airport, is closest to the Moscone Convention Center and surrounding hotels.
										</dd>
										<dt>
											How long does it take to get to/from the airport, and how much does it cost?
										</dt>
										<dd>
											Travel time to/from SFO Airport typically takes about 30-40 minutes depending on traffic. A cab will run about $45.
										</dd>
										<dt>
											Is Moscone accessible by public transportation?
										</dt>
										<dd>
											Yes. Moscone is <a href="http://www.moscone.com/directions/index.shtml">accessible</a> via BART, MUNI Metro, and Caltrain.
										</dd>
										<dt>
											Will there be shuttle service to and from the airport and the hotels or convention center?
										</dt>
										<dd>
											No, Google I/O will not be providing shuttle service to and from the airport or hotels. However, Super Shuttle International is offering a discount to all Google I/O attendees. Reservations must be booked in advance by accessing the following link:
											<p>
												<a href="http://www.supershuttle.com/Sales/GOOGLE2011.html">http://www.supershuttle.com/default.aspx?GC=G5D9Z</a> or by calling 800 BLUE-VAN (258-3826)
											</p>
											<p>
												The discount code for Google I/O is: <strong>G5D9Z</strong>
											</p>
											<p>
												Discounted transfers are available from the following airports:
											</p>
											<ul>
												<li>
													San Francisco International ($2.00 off shared ride)
												</li>
												<li>
													Oakland International Airport ($4.00 off shared ride)
												</li>
												<li>
													San Jose International Airport ($7.00 off shared ride)
												</li>
											</ul>
											<p>
												One-way transfers from SFO to downtown San Francisco are $17 in a shared 9-seat passenger van. Discount code is only valid for travel dates between 5/3/2011 and 5/17/2011.
											</p>
											<p>
												Other airport shuttle options include:
											</p>
											<ul>
												<li>
													American Airporter Shuttle Inc +1-415-202-0733
												</li>
												<li>
													Airport Express SF +1-415-775-5121
												</li>
												<li>
													Lorrie's Airport Service +1-415-334-9000
												</li>
											</ul>
											<p>
												For more information on ground access transportation to and from SFO, visit <a href="http://www.flysfo.com/web/page/tofrom/transp-serv/">http://www.flysfo.com/web/page/tofrom/transp-serv/</a>.
											</p>
										</dd>
										<dt>
											What is the attire for the event?
										</dt>
										<dd>
											Come as you are. If you're still unsure, feel free to take a look at <a href="http://picasaweb.google.com/googleio/GoogleIO2010#">photos from I/O 2010</a>.
										</dd>
										<dt>
											Will I receive additional information regarding the event?
										</dt>
										<dd>
											We'll be regularly updating <a href="index.html">www.google.com/io</a> with the latest sessions, speakers, and other content. We recommend checking back from time to time for the most updated information as well as following us on <a href="http://twitter.com/googleio">@googleio</a> where we'll be tweeting the latest Google I/O updates. In addition, we'll email all registered attendees with the latest information one week before Google I/O.
										</dd>
										<dt>
											Are there any other events or meetups happening in the days before I/O?
										</dt>
										<dd>
											For any events and meetups set up by developers attending Google I/O or by Google, we will help spread the word on <a href="http://twitter.com/googleio">@googleio</a>. We encourage you to follow our tweets to stay tuned to the latest Google I/O updates.
										</dd>
										<dt>
											Are there any special evening events?
										</dt>
										<dd>
											Once the sessions conclude on May 10th, we will be hosting an After Hours evening party from 6:30 pm - 10:30 pm. Please join us for food, drinks, music, video games, and more.
										</dd>
										<dt>
											Will you be bringing Google I/O to my area?
										</dt>
										<dd>
											Currently we do not have plans to bring Google I/O to other cities aside from San Francisco, CA. However, there are many developer events that occur around the world. These events are held either by Google or local developer community groups. Check our <a href="http://code.google.com/events/">Developer Events Calendar</a> to see if there are any in your area.
										</dd>
										<dt>
											What accommodations are provided for Deaf or hard of hearing attendees?
										</dt>
										<dd>
											We'll be providing live realtime transcription (CART) for the keynote and some of our breakout sessions. Caption text displayed on a large plasma screen at the front of the room will be accessible to all attendees. We'll also use the text to provide captions for YouTube videos of the sessions, which will be posted after the event. If you have other specific needs, please let us know in your registration.
										</dd>
										<dt>
											Will you be providing ASL interpreters?
										</dt>
										<dd>
											We'll be happy to provide an interpreter to accompany you in the sessions at I/O. We'll do our best to find a technical translator that is familiar with the domain, but most likely will not be able to have the interpreter meet with speakers beforehand. Please email us at <a href="mailto:googleio2011@google.com">googleio2011@google.com</a> if you need an ASL interpreter at Google I/O.
										</dd>
										<dt>
											Is Moscone West handicap-accessible?
										</dt>
										<dd>
											Definitely. Moscone West is fully ADA certified.
										</dd>
									</dl>
								</div>
							</div>
						</article>
					</section>
				</div>

