<div id="content" class="clearfix">
	<div id="gradient"></div>
	<section id="index" class="clearfix">
		<article id="top">
			<h3><span>APRIL</span><span>28-29</span><span>Pittsburgh</span><span>Pennsylvania</span></h3>
			<img id="logo" src="images/logo.png" alt="CMU-Summit"/>
			<h1>CMU SUMMIT</h1>
			<h2>US-China Innovation and Entrepreneurship Forum</h2>
		</article>
		<article>
			<div class="content clearfix">
				<p>
					CMU Summit is a high-profile forum, where leading entrepreneurs, executives, venture capitalists and researchers from both China and United States could come together to address big issues on economy and technology, and further cultivate potential opportunities for mutual partnerships.
				</p>
				<iframe id="cmu-overview" width="560" height="315" src="http://www.youtube.com/embed/1I5i6NO6f7k" frameborder="0" allowfullscreen></iframe>
			</div>
			<div id="random-fact" class="clearfix">
				<dl>
					<dt>Do You Know?</dt>
					<dd>
						<span>In the past 15 years, CMU faculty, students and alumni have created more than 300 companies and 9,000 jobs.</span>
						<span>With 100 percent of CMU’s electricity coming from green power sources, the university is ranked as a green power leader by the U.S. Environmental Protection Agency.</span>
						<span>CMU has been ranked No. 1 among all U.S. universities without a medical school in the number of startup companies created per research dollar spent since 2007.</span>
						<span>Dr. Mao Yisheng, an expert on bridge construction and a social activist in China, is the first PhD student even granted by Carnegie Mellon University.</span>
					</dd>
				</dl>
			</div>
		</article>
	</section>
	<section id="main">
		<article id="why">
			<h1>Why CMU Summit?</h1>
			<div class="content">
				<p>Over the past decades, China has successfully transformed itself from poverty and backwardness into a modern nation that plays a central role in globalization. — the fastest-growing economy in the world with consistently high annual growth rate, a burgeoning middle class, more university graduates than ever, expanding international political partnership, largest population of Internet users than in the world, and an increasing number of world-renowned companies with innovations in technology. China today has extraordinary capabilities with a greater sense of confidence in itself and the future. Meanwhile, United States, the largest economy and super power – though challenged by the ongoing economic recession since 2008’s Wall Street crisis – still fuels the economic engine of the world today. In the age of intensified globalization and with the current financial crisis, it is widely acknowledged that the Sino-US relationship plays as dual locomotives for the world’s troubled economic train.</p>
				<p>With this in mind and looking ahead into the future, ideas and solutions from both within China and the United States are in great need to help deal with many challenges emerging from its rapid development. The CMU Summit, expected to draw more than 1,000 participants to CMU, will bring together leading entrepreneurs, executives, and venture capitalists from both the U.S. and China to discuss and identify China’s influence on the global economy, its opportunities for the U.S., and its readiness to take the mutual benefits.</p>
			</div>
		</article>
		<article id="voice">
			<h1>Voice</h1>
			<div class="content clearfix">
				<div id="voice-quote">
					<p>
						"My heart is in the work."
					</p>
					<p class="author">
						Andrew Carnegie
					</p>
				</div>
			</div>
		</article>
		<article>
			<h1>Sponsor</h1>
			<div class="content clearfix">
				<ul id="sponsor-list">
					<li>
						<a href="#benetech"><img alt="Benetech" height="100" src="http://www.google.com/events/io/2011/static/img/benetech.png" width="100"></a>
					</li>
					<li>
						<a href="#code-factory-s-l"><img alt="CODE FACTORY S.L." height="100" src="http://www.google.com/events/io/2011/static/img/codefactory.png" width="100"></a>
					</li>
					<li>
						<a href="#levelstar"><img alt="LevelStar" height="100" src="http://www.google.com/events/io/2011/static/img/levelstar.png" width="100"></a>
					</li>
					<li>
						<a href="#national-braille-press"><img alt="National Braille Press" height="100" src="http://www.google.com/events/io/2011/static/img/nationalbraillepress.png" width="100"></a>
					</li>
					<li>
						<a href="#university-of-washington"><img alt="University of Washington" height="100" src="http://www.google.com/events/io/2011/static/img/universityofwashington.png" width="100"></a>
					</li>
					<li>
						<a href="#apps4android-inc"><img alt="Apps4Android, Inc." height="100" src="http://www.google.com/events/io/2011/static/img/app4android.png" width="100"></a>
					</li>
					<li>
						<a href="#adidas"><img alt="adidas" height="100" src="http://www.google.com/events/io/2011/static/img/Adidas.png" width="100"></a>
					</li>
				</ul>
			</div>
		</article>
	</section>
	<aside>
		<article id="follow-us">
			<h3>Get Involved</h3>
			<div class="content">
				<div>
					<p>Register to keep up-to-date.</p>
					<a href="/login" class="button-gray" id="aside-register">Sign Up</a>
				</div>
				<div class="clearfix">
					<p>Follow us on your social network.</p>
					<ul id="aside-social-network">
						<li><a href="https://www.facebook.com/cmusummit"><img src="images/facebook_icon.png" /></a></li>
						<li><a href="http://page.renren.com/601202783"><img src="images/renren_icon.jpg" /></a></li>
						<li><a href="http://weibo.com/cmusummit"><img src="images/weibo_icon.png" /></a></li>
						<li><a href="http://www.linkedin.com/groups/CMU-Summit-4275100"><img src="images/linkin_icon.jpg" /></a></li>
					</ul>
				</div>
			</div>
		</article>
		<article id="pitch">
			<h3>Pitch Competition</h3>
			<div class="content">
				<div>
					<p>Content to be determined.</p>
				</div>
			</div>
		</article>
		<article id="announcement">
			<h3>Announcement</h3>
			<div class="content">
				<div>
					<h4>CMU Summit Website Alpha Version Launched</h4>
					<p>
						Thanks to <a href="theunitinterval.com">Unit Interval Studio</a>. The alpha version is launched today.
					</p>
					<p class="date">
						January 29, 2012
					</p>
				</div>
			</div>
			<div class="arrow-nav">
				<a href="#" class="up up-inactive"></a><a href="#" class="down"></a>
			</div>
		</article>
	</aside>
	</section>
</div>
