<div id="content" class="clearfix">
  <section id="main">
    <article>
      <h1>Welcome to CMU Summit</h1>
      <div class="content">
        <iframe id="cmu-overview" width="560" height="315" src="http://www.youtube.com/embed/1I5i6NO6f7k" frameborder="0" allowfullscreen></iframe>
        <p>
        The MIT-China Innovation and Entrepreneurship Forum (MIT-CHIEF) is an annually-held conference and high-profile platform for intellectual exchange to foster deeper and broader collaboration between China and the United States in technology, innovation, and entrepreneurship. On November 19-20, 2011, leading authorities from academia, industries, enterprises, businesses, and government institutions, from both China and the US, will convene at MIT to deliver presentations and showcase their work. We intend to address not only current developments and collaborations between enterprises in the US and China in cutting-edge fields such as clean technology, information technology, health care, and biotechnology, but also policy-making issues and future directions China should take to facilitate continued innovation in the country. Additionally, for budding entrepreneurs, we also feature a "Pitch to China" Business Plan Contest with cash prizes totalling $18,000.
        </p>
      </div>
    </article>
    <article id="voice">
      <h1>Voice</h1>
      <div class="content clearfix">
        <div id="voice-quote">
          <p>
          "We and China have a common interest in working together following in the best traditions of scientific cooperation to address our future energy challenges. This forum is an important example of that sentiment translated into action at MIT."
          </p>
          <p class="author">
          Prof. ERNEST MONIZ, Professor of MIT Physics
          </p>
        </div>
      </div>
    </article>
    <article>
      <h1>Sponsors</h1>
      <div class="content clearfix">
        <ul id="sponsor-list">
          <li>
            <a href="#benetech"><img alt="Benetech" height="100" src="http://www.google.com/events/io/2011/static/img/benetech.png" width="100"></a>
          </li>
          <li>
            <a href="#code-factory-s-l"><img alt="CODE FACTORY S.L." height="100" src="http://www.google.com/events/io/2011/static/img/codefactory.png" width="100"></a>
          </li>
          <li>
            <a href="#levelstar"><img alt="LevelStar" height="100" src="http://www.google.com/events/io/2011/static/img/levelstar.png" width="100"></a>
          </li>
          <li>
            <a href="#national-braille-press"><img alt="National Braille Press" height="100" src="http://www.google.com/events/io/2011/static/img/nationalbraillepress.png" width="100"></a>
          </li>
          <li>
            <a href="#university-of-washington"><img alt="University of Washington" height="100" src="http://www.google.com/events/io/2011/static/img/universityofwashington.png" width="100"></a>
          </li>
          <li>
            <a href="#apps4android-inc"><img alt="Apps4Android, Inc." height="100" src="http://www.google.com/events/io/2011/static/img/app4android.png" width="100"></a>
          </li>
          <li>
            <a href="#adidas"><img alt="adidas" height="100" src="http://www.google.com/events/io/2011/static/img/Adidas.png" width="100"></a>
          </li>
        </ul>
      </div>
    </article>
  </section>
  <aside>
    <article id="follow-us">
      <h3>Integration</h3>
      <div class="content">
        <div>
          <p>Register to keep up-to-date.</p>
          <a class="button-gray" id="aside-register">Sing Up</a>
        </div>
        <div class="clearfix">
          <p>Follow us on your social network.</p>
          <ul id="aside-social-network">
            <li><img src="/images/twitter_icon&32.png" /></li>
            <li><img src="/images/facebook_icon&32.png" /></li>
          </ul>
        </div>
      </div>
    </article>
    <article id="announcement">
      <h3>Announcement</h3>
      <div class="content">
        <div>
          <h4>Monthly Chromebook subscriptions for businesses and schools</h4>
          <p>
          Monthly subscriptions with all in one service start at $28 per user for business and $20 per user for educational institutions.
          </p>
          <p class="date">
          7 months ago
          </p>
        </div>
        <div>
          <h4>Monthly Chromebook subscriptions for businesses and schools</h4>
          <p>
          Monthly subscriptions with all in one service start at $28 per user for business and $20 per user for educational institutions.
          </p>
          <p class="date">
          7 months ago
          </p>
        </div>
        <div>
          <h4>Monthly Chromebook subscriptions for businesses and schools</h4>
          <p>
          Monthly subscriptions with all in one service start at $28 per user for business and $20 per user for educational institutions.
          </p>
          <p class="date">
          7 months ago
          </p>
        </div>
      </div>
      <div class="arrow-nav">
        <a href="#" class="up up-inactive"></a><a href="#" class="down"></a>
      </div>
    </article>
  </aside>
</div>
