				<div id="content" class="clearfix">
					<section>
						<article id="info">
							<h1><a href="about.html" class="active">About</a><a href="travel.html">Travel</a><a href="register.html">Register</a></h1>
							<div id="about" class="active content clearfix">
								<p>
									The Massachusetts Institute of Technology (MIT) is a hotspot of scientific research where technologies are constantly taking shape to address real-world challenges. As China faces many such challenges today, we believe this is an ideal time to provide an interactive discussion forum between China and researchers at MIT. We also believe that the core values established by MIT's founder William Barton Rogers 150 years ago—inventional wisdom, useful work founded on science, hands-on learning, meritocracy and hardwork, and service—have great potential to advance and develop China's future.
								</p>
								<div id="about-left">
									<div class="about-item">
										<h2>I/O Extended</h2>
										<p>
											I/O Extended are viewing events hosted around the world by Google offices, our GTUG partners, and student ambassadors. I/O Extended is for those developers who are not able to attend Google I/O, but still want to connect with other passionate and talented developers and watch parts of Google I/O live. Learn more and find an I/O Extended event near you on the <a href="https://sites.google.com/site/2011ioextended">I/O Extended site</a>.
										</p>
									</div>
									<div class="about-item">
										<h2>Technical Sessions</h2>
										<p>
											I/O will feature over 80 sessions ranging from introductory talks to deep dives on the nuts and bolts of a particular technology or product. Fireside chats will also return this year, where you can ask questions to Google engineers in an informal, intimate setting.
										</p>
									</div>
									<div class="about-item">
										<h2>BootCamp</h2>
										<p>
											I/O BootCamp is a smaller, more intimate event held the day before Google I/O focused on getting you ready for the main event. Through beginner-level lectures and hands-on lab sessions, BootCamp provides an overview of our major developer platforms.
										</p>
										<p>
											This year, BootCamp will take place on <strong>Monday, May 9th, 2011</strong> at the Mission Bay Conference Center. Please note the different venue, as the event will not be held in the same location as Google I/O.
										</p>
										<p>
											For more information about I/O BootCamp, including agenda and session information, please visit the <a href="http://www.io-bootcamp.com">I/O BootCamp</a> site.
										</p>
									</div>
								</div>
								<div id="about-right">
									<div class="about-item">
										<h2>Developer Sandbox</h2>
										<p>
											The Developer Sandbox, first introduced at I/O 2009, returns this year. The Sandbox will feature over 100 developers who have built applications based on technologies and products featured at I/O. These developers will be on hand to demo their apps, talk about how they built them, answer questions, and exchange ideas.
										</p>
									</div>
									<div class="about-item">
										<h2>After Hours Evening Event</h2>
										<p>
											The I/O After Hours party is an action-packed celebration of technical and artistic innovation and an interactive playground featuring futuristic technologies, robots, vehicles, games and other innovative gadgets. This year’s theme, Industrial Strength, will feature the latest jaw-dropping technology and demonstrations fresh from the lab or the garage with our partners in crime from <a href="http://www.gadgetoff.com/home.html">Gadgetoff</a> and <a href="http://www.makerfaire.com/">Maker Faire</a>! We’ve invited inventors, educators, artists, visionaries from MIT, Georgia Tech Center, iRobot and Madagascar Institute to share their craziest vehicles, “electrifying” performances, sustainable designs, smart technology and vision for the future of games.
										</p>
									</div>
									<div class="about-item">
										<h2>Community</h2>
										<p>
											I/O is a great opportunity to connect with new and familiar faces. We're excited to have so many bright and talented developers of a wide range of apps, companies, and technologies join us from around the world. You'll be able to meet other developers, discuss ideas, and share what you've been working on.
										</p>
									</div>
								</div>
							</div>
							<div id="travel" class="content clearfix">
								<div id="travel-details">
									<div id="travel-campus">
										<h2>Moscone Center</h2>
										<ul>
											<li>
												<a href="http://www.moscone.com/site/do/index">Moscone West</a>
											</li>
											<li>
												747 Howard St
											</li>
											<li>
												San Francisco, CA 94103
											</li>
										</ul>
										<h2>BootCamp</h2>
										<ul>
											<li>
												<a href="http://www.acc-missionbayconferencecenter.com/directions.cfm">Mission Bay Conference Center</a>
											</li>
											<li>
												1675 Owens Street
											</li>
											<li>
												San Francisco, CA, 94143
											</li>
										</ul>
									</div>
									<div id="travel-hotel">
										<h2>Hotel Accommodations</h2>
										<ul>
											<li>
												<a href="http://www.acc-missionbayconferencecenter.com/directions.cfm">Mission Bay Conference Center</a>
											</li>
											<li>
												1675 Owens Street
											</li>
											<li>
												San Francisco, CA, 94143
											</li>
										</ul>
										<ul>
											<li>
												<a href="http://www.acc-missionbayconferencecenter.com/directions.cfm">Mission Bay Conference Center</a>
											</li>
											<li>
												1675 Owens Street
											</li>
											<li>
												San Francisco, CA, 94143
											</li>
										</ul>
										<p class="note">
											* Hotel room rates are subject to applicable state and local taxes at the time of check-out.
										</p>
									</div>
								</div>
							</div>
							<div id="register" class="content clearfix">
								<p>
									Tickets for Google I/O 2011 are now sold out. <a href="https://sites.google.com/site/2011ioextended/">Register for a Google I/O Extended event</a> near you and still connect with other talented developers and watch live feeds of the conference.
									Stay tuned by following <a href="//www.twitter.com/googleio">@GoogleIO on Twitter</a> or <a href="//www.google.com/profiles/googleio">GoogleIO on Buzz</a> for the latest.
								</p>
								<div id="register-button" class="button-gray">
									<a href="#">Sign Up</a>
								</div>
								<p>
									Invited Speakers will be registered automatically. Please do not register via this website.
								</p>
								<div id="pricing">
									<h2>Pricing</h2>
									<table>
										<tbody>
											<tr>
												<td>Early Bird Price (until 4/16/11)</td>
												<td>$450</td>
											</tr>
											<tr>
												<td>List Price (starting 4/17/11)</td>
												<td>$550</td>
											</tr>
											<tr>
												<td>Academia (student, faculty)</td>
												<td>$150</td>
											</tr>
											<tr>
												<td><a href="about.html">BootCamp</a></td>
												<td>+$100 (all registration types)</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="questions">
									<h2>Contact Us</h2>
									<table>
										<tbody>
											<tr>
												<td>Email:</td>
												<td><a href="mailto:googleio2011@google.com">googleio2011@google.com</a></td>
											</tr>
											<tr>
												<td>Toll Free (USA/Canada)</td>
												<td>+1-877-585-9505</td>
											</tr>
											<tr>
												<td>International:</td>
												<td>+1-916-235-8528</td>
											</tr>
											<tr>
												<td>Fax:</td>
												<td>+1-916-784-9435</td>
											</tr>
											<tr>
												<td>Hours:</td>
												<td>Monday - Friday, 9:00 am - 5:00 pm</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</article>
					</section>
				</div>

