				<div id="content" class="clearfix">
					<section>
						<article id="info">
							<h1><a href="#" class="active">About</a><a href="#">Register</a><a href="#">Travel</a><a href="#">FAQ</a></h1>
							<div id="about" class="active content clearfix">
								<p>
									CMU Summit is a high-profile forum, where leading entrepreneurs, executives, venture capitalists and researchers from both China and United States could come together to address big issues on economy and technology, and further cultivate potential opportunities for mutual partnerships. The Summit is expected to draw more than 1,000 participants to Carnegie Mellon University, to address emerging challenges in new energy, IT, the healthcare sector, venture capital, and other areas where China and the US share common interests. Following major sessions will be included in the two-day annual conference.
								</p>
								<div id="about-left">
									<div class="about-item">
										<h2>Keynote Speeches</h2>
										<p>
Renowned experts, scholars, and entrepreneurs will be invited to make presentations in respective fields, sharing their own story with success and their perspectives towards the future.
										</p>
									</div>
									<div class="about-item">
										<h2>Panel Discussion</h2>
										<p>
Panel discussion is a good platform to dig thoughts and ideas in a more interactive way. There are six panels in the Summit, i.e., IT1: Mobile web and social networking, IT2: Cloud computing and Internet security, Innovation and entrepreneurship, Healthcare, New energy and environment, Finance and Capital market.										</p>
									</div>
									<div class="about-item">
										<h2>Startup Pitch competition</h2>
										<p>
The Startup Pitch competition aims to helping people who are interested in starting their own business. It will not only provide competition participants with an opportunity to present their entrepreneurship ideas related to business in China; but also help them network with both American and Chinese angel investors, venture capitalists, and government investors who might provide the contestants with advice, mentorship, or resources in the future.										</p>
									</div>
								</div>
								<div id="about-right">
									<div class="about-item">
										<h2>Technology Showcase</h2>
										<p>
											This session aims to showcase researches, startup prototypes/demos from CMU. 
											Potential participants include robotics, human computer interaction projects, computer vision related projects, and entertainment technologies. This session will be open to anyone at CMU with a desire to publicize their innovative technologies.										</p>
									</div>
									<div class="about-item">
										<h2>Career Fair</h2>
										<p>
A career fair will be held at the end of the summit to connect Summit company sponsors to talents who attend the summit. The participants will come from the region and beyond, and the number is expected to exceed 700. Participating companies will be able set up booths and posters. Should they wish, they may also deliver recruiting talks.										</p>
									</div>
								</div>
							</div>
							<div id="travel" class="content clearfix">
								<div id="travel-details">
									<div id="travel-campus">
										<h2>Direction By Air</h2>
										<ul>
											<li>
												Summit attendees arriving at Pittsburgh International Airport in Pittsburgh (Airport Code: PIT) have the following options for transportation to the Carnegie Mellon University and Summit Center and other nearby hotel accommodations:
											</li>
											<li>
												Taxi Service: Taxi service is available directly from the airport. Follow the signs in baggage claim to direct you to the taxi stand. The cost of travel from the airport to the summit venue is approximately $50-$60.
											</li>
											<li>
												Public Transportation: Pittsburgh offers convenient local ground transportation service directly from the airport to Carnegie Mellon University. From baggage claim, follow the signs to ground transportation and board Bus 28X to the destination stop to reach Carnegie Mellon University. The one-way fare on the Bus 28X is $2.25 (USD) and be paid by cash only on the bus. For additional bus fare and schedule, please access the Port Authority Website: http://www.portauthority.org/paac/default.aspx
											</li>
											<li>
												Super Shuttle Service: 
												Super Shuttle Service is available in Pittsburgh to pick passengers from point to point by appointment. The one-way fare from Airport to Carnegie Mellon University varies from $25 to $125 depending on the number of the passengers. For appointment and more additional information, please visit SuperShuttle Pittsburgh Website: http://www.supershuttle.com
											</li>
											<li>
												Rental Car: You can rent a car on-site at the Pittsburgh International Airport. For more information, including a list of car rental agencies and phone numbers, please refer to the transportation services section of the Pittsburgh International Airport website.
											</li>
										</ul>
										<h2>Direction By Bus</h2>
										<ul>
											<li>
												The Greyhound Lines bus terminal is located less than eight miles from campus in downtown Pittsburgh. For a detailed transportation schedule, call Greyhound at 1-800-231-2222. The Pittsburgh station is located at 55 11th Street and can be reached at 412-392-6513.
											</li>
										</ul>
										<h2>Direction By Train</h2>
										<ul>
											<li>
												The Amtrak Train Station-Pittsburgh is located at 1100 Liberty Avenue, less than five miles from campus. For information on rates and schedules, call Amtrak at 1-800-872-7245. 											</li>
										</ul>
										<h2>Direction By Car</h2>
										<ul>
											<li>
												If you're driving to our Pittsburgh campus, use the box below to get directions via Google Maps. 											</li>
										</ul>
									</div>
									<div id="travel-hotel">
										<h2>Campus Map</h2>
										A map of the Carnegie Mellon campus is available here: CMU Campus Map.
										<h2>Accommodation</h2>
										<ul>
											<li>For students looking for temporary stays during the summit, here is a list of hotels near Carnegie Mellon University sorted by distance. Please note that all following quotes are subject to different check-in dates and may change accordingly. Book early to secure your spot.</li>
											<li>1) Holiday Inn (@ University of Pittsburgh, University Center)
											http://www.holidayinn.com/hotels/us/en/pittsburgh/pitsp/hoteldetail
											Distance to CMU: 15 minutes’ walk
											Price: $180/day</li>
											<li>2) Shadyside Inn
											http://www.shadysideinn.com/
											Distance to CMU: 16 minutes’ walk
											Price: $260/day</li>
											<li>3) Residence Inn Pittsburgh University Center
											http://www.marriott.com/hotels/travel/pitro-residence-inn-pittsburgh-university-medicalcenter/
											Distance to CMU: 20 minutes’ walk
											Price: $270/day</li>
											<li>4) Sunnyledge Hotel
											http://www.sunnyledge.com/
											Distance to CMU: 20 minutes’ walk
											Price: $190/day</li>
											<li>5) The Mansion at Maple Heights
											http://mansionmapleheights.com/
											Distance to CMU: 21 minutes’ walk
											Price: $250/day</li>
											<li>6) The Inn on Negley	
											http://innonnegley.com/
											Distance to CMU: 24 minutes’ walk
											Price: $205/day</li>
											<li>7) Courtyard Pittsburgh Shadyside
											http://www.marriott.com/hotels/travel/PITOK-Courtyard-Pittsburgh-Shadyside
											Distance to CMU: 24 minutes’ walk
											Price: $230/day</li>
											<li>8) Quality Inn University Center
											http://www.qualityinn.com/hotel-pittsburgh-pennsylvania-PA369?promo=gglocal
											Distance to CMU: 25 minutes’ walk
											Price: $170/day
											</li>
											<li>
												9) Hampton Inn Pittsburgh Oakland
												http://hamptoninn.hilton.com/en/hp/hotels/index.jhtml;jsessionid=ZVLUXSFQIOE1MC
												SGBJBOLYQ?ctyhocn=PITOKHX
												Distance to CMU: 30 minutes’ walk
												Price: $270/day
											</li>
											<li>10) Pittsburgh Chinese Church in Oakland
											http://www.pccoakland.org/newstudents/index.html
											Price: Free</li>
										</ul>
										
									</div>
								</div>
							</div>
							<div id="register" class="content clearfix">
								<p>
									Invited Speakers will be registered automatically. Please do not register via this website.
								</p>
								<div id="pricing">
									<h2>Pricing</h2>
									<table>
										<tbody>
											<tr>
												<td>Early Bird Price (until TBA)</td>
												<td>TBA</td>
											</tr>
											<tr>
												<td>List Price (starting TBA)</td>
												<td>TBA</td>
											</tr>
											<tr>
												<td>Academia (student, faculty)</td>
												<td>TBA</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="questions">
									<h2>Contact Us</h2>
									<table>
										<tbody>
											<tr>
												<td>Email:</td>
												<td>TBA</td>
											</tr>
											<tr>
												<td>Phone:</td>
												<td>TBA</td>
											</tr>
											<tr>
												<td>Hours:</td>
												<td>TBA</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div id="faq" class="content clearfix">
								<div class="clearfix">
									<div class="faq-section">
										<h3 id="registration">Registration questions</h3>
										<dl>
											<dt>
												How can I register for the Summit?
											</dt>
											<dd>
												Online registration is available now. Please sign up <a href="/login">here</a>.
											</dd>
											<dt>
												I am interested in sponsoring the Summit. Who do I reach to?
											</dt>
											<dd>
												Please contact Pengxuan Chen, Sponsor Relation Director, Phone +1 (412)-251-6068, Email: pengxual@andrew.cmu.edu.
											</dd>
										</dl>
									</div>
									<div class="faq-section right">
										<h3 id="general">General event questions</h3>
										<dl>
											<dt>
												Where and when is CMU China Summit 2012?
											</dt>
											<dd>
												April 28th – 29th, 2012. Carnegie Mellon University, 5000 Forbes Avenue, Pittsburgh, PA15213
											</dd>
											<dt>
												Are there hotels near the Summit? How much does it cost to make a reservation for hotels?
											</dt>
											<dd>
												Detailed information can be found under the Travel tab.
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</article>
					</section>
				</div>

