<div id="content" class="clearfix">
	<section>
		<article id="people">
			<h1><a href="#speakers" class="active" data-page="speakers">Speaker</a><a href="#guests" data-page="guests">Panelist</a><a href="#participants" data-page="participants">Participant</a></h1>
			<div id="speaker" class="active people-page clearfix">
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"><img src="images/default_avatar_male.jpg"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title 1</h4>
							<h4>Title 2</h4>
							<p>Bio, Interest</p>
						</div>
					</div>
				</div>
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"><img src="images/default_avatar_female.jpg"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title 1</h4>
							<h4>Title 2</h4>
							<p>Bio, Interest</p>
						</div>
					</div>
				</div>
			</div>
			<div id="panelist" class="people-page clearfix">
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title 1</h4>
							<h4>Title 2</h4>
							<p>Bio</p>
						</div>
					</div>
				</div>
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title 1</h4>
							<h4>Title 2</h4>
							<p>Bio</p>
						</div>
					</div>
				</div>
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title 1</h4>
							<h4>Title 2</h4>
							<p>Bio</p>
						</div>
					</div>
				</div>
			</div>
			<div id="participant" class="people-page clearfix">
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"><img src="images/default_avatar_female.jpg"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title</h4>
							<p>Social Media Links</p>
						</div>
						<div class="button-gray">Followed by 122</div>
						<a href="/login" class="button-gray">Add to my contact</a>
					</div>
				</div>
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"><img src="images/default_avatar_male.jpg"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title</h4>
							<h4>Social Media Links</h4>
						</div>
						<div class="button-gray">Followed by 122</div>
						<a href="/login" class="button-gray">Add to my contact</a>
					</div>
				</div>								
				<div class="speaker-info">
					<div class="speaker has-image">
						<div class="image"><img src="images/default_avatar_male.jpg"></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title</h4>
							<h4>Social Media Links</h4>
						</div>
						<div class="button-gray">Followed by 122</div>
						<a href="/login" class="button-gray">Remove from my contact</a>
					</div>
				</div>								
			</div>
		</article>
	</section>
</div>