<div id="content" class="clearfix">
	<section class="clearfix">
		<article>
			<div id="random-fact" class="todo-random-fact clearfix">
				<dl>
					<dt>Do You Know?</dt>
					<dd>
						<span>In the past 15 years, CMU faculty, students and alumni have created more than 300 companies and 9,000 jobs.</span>
						<span>With 100 percent of CMU’s electricity coming from green power sources, the university is ranked as a green power leader by the U.S. Environmental Protection Agency.</span>
						<span>CMU has been ranked No. 1 among all U.S. universities without a medical school in the number of startup companies created per research dollar spent since 2007.</span>
						<span>Dr. Mao Yisheng, an expert on bridge construction and a social activist in China, is the first PhD student even granted by Carnegie Mellon University.</span>
					</dd>
				</dl>
			</div>
		</article>
	</section>
	<section id="main">
		<article>
			<h1>User Center</h1>
			<div class="content clearfix">
				<div>
					<form>
						<label>Last Name</label><input type="text"><br>
						<label>First Name</label><input type="text"><br>
						<label>Gender</label><input type="radio" name="sex" value="male"> Male <input type="radio" name="sex" value="female"> Female<br>
						<label>Position</label><input type="text"><br>
						<label>Email</label><input type="text"><br>
						<label> </label><input type="submit" value="Update" class="button-gray">
					</form>
				</div>
			</div>
		</article>
	</section>
	<aside>
		<article id="follow-us">
			<h3>Get Involved</h3>
			<div class="content">
				<div class="clearfix">
					<p>Follow us on your social network.</p>
					<ul id="aside-social-network">
						<li><a href="https://www.facebook.com/cmusummit"><img src="images/facebook_icon.png" /></a></li>
						<li><a href="http://page.renren.com/601202783"><img src="images/renren_icon.jpg" /></a></li>
						<li><a href="http://weibo.com/cmusummit"><img src="images/weibo_icon.png" /></a></li>
						<li><a href="http://www.linkedin.com/groups/CMU-Summit-4275100"><img src="images/linkin_icon.jpg" /></a></li>
					</ul>
				</div>
			</div>
		</article>
		<article id="pitch">
			<h3>Pitch Competition</h3>
			<div class="content">
				<div>
					<p>Content to be determined.</p>
				</div>
			</div>
		</article>
		<article id="announcement">
			<h3>Announcement</h3>
			<div class="content">
				<div>
					<h4>CMU Summit Website Alpha Version Launched</h4>
					<p>
						Thanks to <a href="theunitinterval.com">Unit Interval Studio</a>. The alpha version is launched today.
					</p>
					<p class="date">
						January 29, 2012
					</p>
				</div>
			</div>
			<div class="arrow-nav">
				<a href="#" class="up up-inactive"></a><a href="#" class="down"></a>
			</div>
		</article>
	</aside>
	</section>
</div>
