<div id="content" class="clearfix">
<div class="section">
<div class="article" id="admin-tool">
<h1>Editing User</h1>
<div>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div></div></div></div>